.chats {
    max-width: 850px;
    overflow-y: scroll;
    padding: 8rem;
}
.chats {
  height: 80vh;              /* take up most of the screen */
  overflow-y: auto;          /* scroll only vertically */
  padding: 1rem;
  scroll-behavior: smooth;   /* smooth scrolling */
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}